.scheduler {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  background: #fff;
  width: 100%;
  min-height: 90vh;
  border: rgba(185, 185, 185, 0.5) solid 1px;
  border-radius: 6px;
  background: #fff;
}
.scheduler .s-top-bar {
  width: 100%;
  height: 50px;
  padding: 25px;
  background: #fff;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scheduler .s-top-bar .btn {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  transition: all 320ms;
}
.scheduler .s-top-bar .btn:hover {
  color: #96b6f2;
}
.scheduler .s-top-bar .btn-today {
  padding: 5px;
}
.scheduler .s-top-bar .week-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  position: relative;
}
.scheduler .s-top-bar .week-navigation .year-text {
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
}
.scheduler .s-top-bar .week-navigation .navigation-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 2px;
}
.scheduler .s-top-bar .week-navigation .btn {
  position: absolute;
  height: 100%;
  bottom: 0;
  align-items: flex-end;
  justify-content: center;
}
.scheduler .s-top-bar .week-navigation .btn.btn-prev-week {
  left: 0;
}
.scheduler .s-top-bar .week-navigation .btn.btn-next-week {
  right: 0;
}
.scheduler .s-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 10px 33px -20px rgba(0, 0, 0, 0.75);
}
.scheduler .s-header div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(185, 185, 185, 0.5);
}
.scheduler .s-header div.time-head {
  width: 60%;
}
.scheduler .s-header .date-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(51, 51, 51, 0.75);
}
.scheduler .s-header .date-head.today {
  color: #676767;
  font-weight: bold;
}
.scheduler .s-header .date-head .day-name {
  font-size: 16px;
  width: 100%;
}
.scheduler .s-header .date-head .date-name {
  font-size: 12px;
  width: 100%;
}
.scheduler .s-body {
  width: 100%;
  height: calc(90vh - 60px);
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.scheduler .s-body .now-line {
  position: absolute;
  right: 0;
  width: 99%;
  height: 2px;
  background: rgba(255, 0, 0, 0.5);
  z-index: 99;
}
.scheduler .s-body .now-line span {
  position: relative;
  left: -26px;
  bottom: 8px;
  color: rgb(255, 0, 0);
  font-size: 14px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(-90deg) !important;
}
.scheduler .s-body .day-column {
  position: relative;
}
.scheduler .s-body .day-column .event-item {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(150, 182, 242, 0.15);
  border: #96b6f2 solid 1px;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 320ms;
  left: 0;
}
.scheduler .s-body .day-column .event-item:hover {
  background: #96b6f2;
  color: #fff;
}
.scheduler .s-body .column {
  width: 100%;
}
.scheduler .s-body .column .cell-item {
  height: 100px;
  border: 1px solid rgba(185, 185, 185, 0.5);
  position: relative;
  cursor: pointer;
}
.scheduler .s-body .column .cell-item:hover {
  background: #f5f5f5;
}
.scheduler .s-body .column .cell-item.disabled {
  background: rgba(185, 185, 185, 0.5);
  cursor: default;
}
.scheduler .s-body .column .cell-item.disabled:hover {
  background: rgba(185, 185, 185, 0.5);
}
.scheduler .s-body .time-column {
  width: 60%;
}
.scheduler .s-body .time-column .time-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(185, 185, 185, 0.5);
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.75);
}
.scheduler .s-body::-webkit-scrollbar {
  display: none;
}
.scheduler .s-footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0px 4px 36px -22px rgba(0, 0, 0, 0.75);
}
.scheduler .s-footer div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(185, 185, 185, 0.5);
}
.scheduler .s-footer div.time-foot {
  width: 60%;
}
.scheduler .s-footer .date-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(51, 51, 51, 0.75);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.scheduler .s-footer .date-foot.today {
  color: #676767;
  font-weight: bold;
}
.scheduler .s-footer .date-foot .day-name {
  font-size: 16px;
  width: 100%;
}
.scheduler .s-footer .date-foot .date-name {
  font-size: 12px;
  width: 100%;
}
.scheduler .today {
  background: rgba(150, 182, 242, 0.15);
  border-color: #96b6f2;
}

/*# sourceMappingURL=Scheduler.css.map */
