$headerHeight: 60px;
$schedulerHeight: 90vh;

$white: #fff;
$whiteLight: rgba(255, 255, 255, .5);
$black: #000;
$gray: #ccc;
$lightGray: rgba(185, 185, 185, 0.5);
$darkGray: #676767;
$purple: #96b6f2;
$purpleLight: rgba(150, 182, 242, 0.15);
$textColor: #333;
$textColorLight: rgba(51, 51, 51, 0.75);
$nowLineColorLight: rgba(255, 0, 0, 0.50);
$nowLineColor: rgb(255, 0, 0);


$timeWidth: 60%;
$cellHeight: 100px;

.scheduler {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;
  background: $white;
  width: 100%;
  min-height: $schedulerHeight;
  border: $lightGray solid 1px;
  border-radius: 6px;
  background: $white;


  .s-top-bar {
    width: 100%;
    height: 50px;
    padding: 25px;
    background: $white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      cursor: pointer;
      background: none;
      border: none;
      display: flex;
      transition: all 320ms;

      &:hover {
        color: $purple;
      }
    }

    .btn-today {
      padding: 5px;
    }

    .week-navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 250px;
      position: relative;


      .year-text {
        font-size: .8rem;
        font-weight: 600;
        color: $textColor;
      }

      .navigation-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 2px;
      }

      .btn {
        position: absolute;
        height: 100%;
        bottom: 0;
        align-items: flex-end;
        justify-content: center;

        &.btn-prev-week {
          left: 0;
        }

        &.btn-next-week {
          right: 0;
        }
      }
    }

  }


  .s-header {
    width: 100%;
    height: $headerHeight;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-shadow: 0px 10px 33px -20px rgba(0, 0, 0, 0.75);

    div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $lightGray;


      &.time-head {
        width: $timeWidth;
      }
    }

    .date-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $textColorLight;

      &.today {
        color: $darkGray;
        font-weight: bold;
      }

      .day-name {
        font-size: 16px;
        width: 100%;
      }

      .date-name {
        font-size: 12px;
        width: 100%;
      }
    }

  }


  .s-body {
    width: 100%;
    height: calc($schedulerHeight - $headerHeight);
    overflow-y: scroll;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;


    .now-line {
      position: absolute;
      right: 0;
      width: 99%;
      height: 2px;
      background: $nowLineColorLight;
      z-index: 99;

      span {
        position: relative;
        left: -26px;
        bottom: 8px;
        color: $nowLineColor;
        font-size: 14px;
        display: inline-block;
        background: $whiteLight;
        transform: rotate(-90deg) !important;
      }
    }

    .day-column {
      position: relative;

      .event-item {
        position: absolute;
        width: 100%;
        height: 50px;
        background: $purpleLight;
        border: $purple solid 1px;
        border-radius: 6px;
        padding: 10px;
        box-sizing: border-box;
        color: $textColor;
        font-size: 14px;
        cursor: pointer;
        transition: all 320ms;
        left: 0;

        &:hover {
          background: $purple;
          color: $white;
        }
      }

    }

    .column {
      width: 100%;

      .cell-item {
        height: $cellHeight;
        border: 1px solid $lightGray;
        position: relative;
        cursor: pointer;

        &:hover {
          background: #f5f5f5;
        }

        &.disabled {
          background: $lightGray;
          cursor: default;

          &:hover {
            background: $lightGray;
          }
        }
      }
    }

    .time-column {
      width: $timeWidth;

      .time-item {
        height: $cellHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $lightGray;
        font-size: 0.8em;
        color: $textColorLight;

      }
    }


    &::-webkit-scrollbar {
      display: none;
    }
  }


  .s-footer {

    width: 100%;
    height: $headerHeight;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    box-shadow: 0px 4px 36px -22px rgba(0, 0, 0, 0.75);

    div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $lightGray;


      &.time-foot {
        width: $timeWidth;
      }
    }

    .date-foot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $textColorLight;

      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      &.today {
        color: $darkGray;
        font-weight: bold;
      }

      .day-name {
        font-size: 16px;
        width: 100%;
      }

      .date-name {
        font-size: 12px;
        width: 100%;
      }
    }

  }

  .today {
    background: $purpleLight;
    border-color: $purple;
  }
}
